/* @font-face {
  font-family: "Barthowheel";
  src: url("../../fonts/barthowheel-regular.ttf") format("truetype");
} */

*:focus {
  outline: 0;
  outline: none;
}

.container {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home {
  width: 100%;
  height: 100vh;
}

.tiles-container {
  width: 100%;
  /* min-height: 100vh; */
}

.tiles-header {
  height: 100px;
  width: 100%;
  background-color: #000;
}

.ctaContainer {
  position: absolute;
  bottom: 36%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  color: #fff;
  font-size: 36px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  outline: none;
}

.ctaContainer:focus {
  outline: none;
}

.ctaLink {
  text-decoration: none;
  outline: none;
}

.ctaLink:focus {
  outline: none;
}

.tile {
  /* width: calc(100% / 3); */
  /* height: 250px; */
  /* border: 1px solid #fff; */
  cursor: pointer;
  position: relative;
}

.tiles-grid-wrapper {
  display: grid;
  /* grid-auto-rows: 446px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tile-hover-text {
  color: #fff;
  transition: 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* line-height: 400px; */
  font-size: 56px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-hover-text:hover {
  opacity: 1;
  transition: 0.3s;
}

.tile-img {
  height: 100%;
  width: 100%;
}

.tile-bg {
  width: auto;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.overlay {
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overscroll-behavior: contain;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 52px;
  top: 52px;
  font-size: 42px;
  transform: scaleX(1.35);
  color: #fff;
}

.close-btn:hover {
  color: #000;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .tiles-grid-wrapper {
    grid-auto-rows: auto;
  }
  .tile-hover-text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .tiles-grid-wrapper {
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    max-width: 414px;
    margin: 0 auto;
  }
  .close-btn {
    top: 8px;
    left: 18px;
    right: unset;
  }
  .tile-hover-text {
    display: none;
  }
  .tile-bg {
    width: 100%;
    height: auto;
  }
  .overlay {
    display: flex;
  }
}
